@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root{
    --task-text: var(--task-unchecked-text);

    --task-checked-text: #b3ff98;
    --task-unchecked-text: #f8ffe5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #7dde92;
}

main {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.main-list {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-bottom: 4rem;
        font-size: 4.5rem;
        color: #2ebfa5;
    }

    &__input {
        margin-bottom: 4rem;
        display: flex;
        gap: 0 5px;
        width: 60%;

        & input {
            width: 100%;
            height: 49px;
            border-radius: 5px;

            background: #f8ffe5;
            border: 2px solid #2ebfa5;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;

            color: #2ebfa5;

            padding: 0.5rem 0.8rem;
        }

        & input:focus {
            outline: none;
        }

        & .addBTN {
            width: 49px;
            height: 49px;

            background: linear-gradient(237.8deg, #2ebfa5 9.46%, #7dde92 80.28%);
            border: 2px solid rgba(248, 255, 229, 0.8);
            border-radius: 5px;
        }
        & .addBTN:hover {
            cursor: pointer;
        }
    }

    &__task {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 1rem;
        padding-left: 4.5rem;

        /* Rectangle 3 */

        width: 60%;
        min-height: 49px;
        border-radius: 5px;

        background: #2ebfa5;

        &-left{
            &-checkbox {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
    
            & .checkmark {
                position: absolute;
                top: 25%;
                left: 1.5%;
                height: 25px;
                width: 25px;
    
                background: #2ebfa5;
                border: 2px solid #f8ffe5;
                box-sizing: border-box;
                border-radius: 5px;
    
                transition: all 0.2s ease-in-out;
            }
    
            & .checkmark:hover {
                cursor: pointer;
                background-color: rgba(136, 221, 191, 1);
            }
    
            & .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
    
            & input:checked ~ .checkmark:after {
                display: block;
            }
    
            & .checkmark:after {
                /* Vector 2 */
                left: 7px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid #b3ff98;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 2px;
            }
    
            & input:checked ~ .checkmark{
                background-color: rgba(46, 78, 191, 1);
                border-color: #B3FF98;
            }
        }

        &-text {
            /* This is just an example text */

            font-weight: 600;
            font-size: 2.4rem;
            line-height: 28px;

            color: var(--task-text);
        }

        &-closeBTN{
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.task-checked{
    background-color: rgba(46, 78, 191, 1);
}

///////////////////////////////////////////////////////////
// MEDIA QUERIES

@media only screen and (max-width: 1000px) {
    .main-list {
        min-width: 90%;

    
        &__input {
            width: 80%;
        }

        &__task {
            width: 80%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .main-list {
        min-width: 100%;

        &__header{
            width: 100%;
            text-align: center;
        }
    
        &__input {
            width: 95%;
        }

        &__task {
            width: 95%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .main-list {
        &__input {
            width: 100%;
        }

        &__task {
            width: 100%;
        }
    }
}